<?xml version="1.0" encoding="UTF-8"?>
<launch>

    <arg name="x" default="-1.5" />
    <arg name="y" default="0.6" />
    <arg name="z" default="0.0" />
    <arg name="roll" default="0.0"/>
    <arg name="pitch" default="0.0"/>
    <arg name="yaw" default="1.5708"/>
    <arg name="robot_name" default="zebrat"/>
    <!-- 加载机器人模型描述参数 -->
    <!--<param name="robot_description" command="cat $(arg urdf_robot_file)"/>-->
    <param name="robot_description" command="$(find xacro)/xacro --inorder '$(find zebrat)/urdf/zebrat.urdf.xacro'"/>


    <!--运行joint_state_publisher节点，发布机器人关节状态-->
    <!--<node name = "robot_state_publisher" pkg = "robot_state_publisher" type = "state_publisher">-->
    <node name= "robot_state_publisher" pkg= "robot_state_publisher" type= "robot_state_publisher">
	<param name="publish_frequency" type="double" value="30.0" />
	<remap from="/joint_states" to="/zebrat/joint_states"/>
    </node>
    <!--<node name="tf_footprint_base" pkg="tf" type="static_transform_publisher" args="0 0 0 0 0 0 base_link base_footprint 40" />-->
    <!-- 在gazebo中加载机器人模型-->
    <node name="urdf_spawner" pkg="gazebo_ros" type="spawn_model" respawn="false" output="screen"
          args="-urdf -model $(arg robot_name) -param robot_description -x $(arg x ) -y $(arg y) -z $(arg z) -R $(arg roll) -P $(arg pitch) -Y $(arg yaw)"/> 


    <!-- 从yaml文件加载联合控制器的参数 -->
    <rosparam file="$(find zebrat)/config/ctrl.yaml" command="load"/>
	
    <!-- 加载控制器 spawner -->
    <node name="controller_manager" pkg="controller_manager" type="spawner" 
	      respawn="false" output="screen" ns="/zebrat" 
	      args="left_rear_wheel_velocity_controller       right_rear_wheel_velocity_controller
	            left_front_wheel_velocity_controller      right_front_wheel_velocity_controller
	            left_steering_hinge_position_controller   right_steering_hinge_position_controller
	            joint_state_controller"/>

    <!--接收阿克曼指令，发布关节运动指令-->>
    <node pkg="zebrat" type="servo_commands.py" name="servo_commands" output="screen">
    </node>

    <!--接收cmd_vel指令，发布阿克曼指令-->>
    <node pkg="zebrat" type="nav_sim.py" name="nav_sim" output="screen">
    </node>
    
    <node pkg="zebrat" type="gazebo_odometry.py" name="gazebo_odometry_node" output="screen">
    </node>

</launch>

